<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MTA Station Traffic</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
  <script type="text/javascript" src="main.js"></script>
</head>
<body>
<h1 id="header">MTA Station Traffic - Union Square</h1>
<div id="desc-container">
  <p id="desc">No one data <br>
Along this square but I,<br>
This turnstile data.<br>
  </p>
</div>

<div id="form-container">
  <form action="/" method="get">
    <select name="month" id="month" onchange="" size="1" class="dropbtn">
        <option value="1" class="drop-optn">January</option>
        <option value="2" class="drop-optn">February</option>
        <option value="3" class="drop-optn">March</option>
        <option value="4" class="drop-optn">April</option>
        <option value="5" class="drop-optn">May</option>
        <option value="6" class="drop-optn">June</option>
        <option value="7" class="drop-optn">July</option>
        <option value="8" class="drop-optn">August</option>
        <option value="9" class="drop-optn">September</option>
        <option value="10" class="drop-optn">October</option>
        <option value="11" class="drop-optn">November</option>
        <option value="12" class="drop-optn">December</option>
    </select>
    <select name="day" id="day" onchange="" size="1" class="dropbtn">
        <option value="0" class="drop-optn">Monday</option>
        <option value="1" class="drop-optn">Tuesday</option>
        <option value="3" class="drop-optn">Wednesday</option>
        <option value="4" class="drop-optn">Thursday</option>
        <option value="5" class="drop-optn">Friday</option>
        <option value="6" class="drop-optn">Saturday</option>
        <option value="7" class="drop-optn">Sunday</option>
    </select>
    <button class="dropbtn" id="submitbtn">submit</button>
  </form>
</div>


<div id="#graph">


<canvas id="myChart" width="800" height="250"></canvas>

</div>
<script>
  var ctx = document.getElementById("myChart");

  var data = {
    labels: [ "4am", "8am", "12pm", "4pm", "8pm", "12am"],
    datasets: [
        {
            label: "Entering Station",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: [<%= inner %>],
            spanGaps: false,
        },
        {
            label: "Leaving Station",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(185,192,192,0.4)",
            borderColor: "rgba(185,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(185,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(20,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: [<%= outter %>],
            spanGaps: false,
          }
        ]
      }

  var myLineChart = new Chart(ctx, {
    type: 'line',
    data: data,
});




</script>

</body>
</html>
